<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Name:</strong>
    <%= restaurant.name %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= restaurant.comment %>
  </p>

  <p>
    <strong>Waiting time estimate:</strong>
    <%= restaurant.waiting_time_estimate %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= restaurant.author %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= restaurant.rating %>
  </p>

</div>
